.dropdown {
  left: 40%;
  text-align: center;
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 120px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: #697077;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-section{
  border-bottom: solid 1px  #F2F4F8;
}

.dropdown-del{
  color: #FF4757 !important;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.action-cell {
  position: relative;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.menu-options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  min-width: 120px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.menu-options li {
  padding: 0px 0px;
}

.menu-options li a {
  text-decoration: none;
  padding: 4px 16px;
  color: #333;
  display: block;
}

.menu-options li:hover {
  background: #f4f4f4;
}
